<div class='topnav'>
    <a><%= link_to "HOME", invoices_path %></a>
    <a><%= link_to "INVOICES", invoices_path %></a>
    <a><%= link_to "CLIENTS", clients_path %></a>
    <a><%= link_to "USERS", users_path %></a>
	<a><%= link_to "PROFILE SETUP", profiles_path %></a>
   	<a><%= link_to "SIGN UP", users_path %></a> 

    <a><%= button_to 'LOGOUT', logout_path %></a>
    
</div>